<!DOCTYPE HTML>
<html>
<head>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Fashionpress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="/user/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!--弹框插件-->
    <link rel="stylesheet" href="/common/toastr/toastr.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="/user/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <script type="text/javascript" src="/user/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="header">
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="/user/index"></a>
            </div>
            <ul class="shopping_grid">
                <a href="/index">
                    <li>登录</li>
                </a>
                <a href="#">
                    <li><span class="m_1">购物车</span>&nbsp;&nbsp;(0) &nbsp;<img src="images/bag.png" alt=""/></li>
                </a>
                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="h_menu4"><!-- start h_menu4 -->
        <div class="container">
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
            </ul>
            <script type="text/javascript" src="/user/js/nav.js"></script>
        </div><!-- end h_menu4 -->
    </div>
</div>
<div class="column_center">
    <div class="container">
        <div class="search">
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="register">
            <form>
                <div class="register-top-grid">
                    <h3> 个人资料</h3>
                    <div>
                        <span>用户名<label>*</label></span>
                        <input type="text" id="userName">
                    </div>
                    <div>
                        <span>邮箱<label></label></span>
                        <input type="text">
                    </div>
                    <a class="news-letter" href="#">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>订阅推送消息</label>
                    </a>
                </div>
                <div class="register-bottom-grid">
                    <h3>登录信息</h3>
                    <div>
                        <span>登录密码<label>*</label></span>
                        <input type="text" id="password">
                    </div>
                    <div>
                        <span>重新输入密码<label>*</label></span>
                        <input type="text" id="passwordAgain">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
            <div class="clearfix"></div>
            <div class="register-but">
                <form>
                    <input value="提交" onclick="aaa()" style="background: #df1f26;color: #FFF;font-size: 0.8em;padding: 0.8em 2em;display: inline-block;
							text-transform: uppercase;border: none;outline: none;width: 83px">
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer_bg">
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-3 f_grid1">
            <h3>About</h3>
            <h4>燕莎商城</h4>
            <p>我们的生产经营方式灵活多样，有标准生产，非标准生产，定牌生产，来图来样生产等等，能满足不同用户的各种需求。我们的产品深得市场的青睐，我们的产品已行销世界五十多个国家和地区。</p>
        </div>
        <div class="col-md-3 f_grid1 f_grid2">
            <h3>关注我们</h3>
            <ul class="social">
                <li><a href=""> <i class="fb"> </i>
                    <p class="m_3">Facebook</p>
                    <div class="clearfix"></div>
                </a></li>
                <li><a href=""><i class="tw"> </i>
                    <p class="m_3">Twittter</p>
                    <div class="clearfix"></div>
                </a></li>
                <li><a href=""><i class="google"> </i>
                    <p class="m_3">Google</p>
                    <div class="clearfix"></div>
                </a></li>
                <li><a href=""><i class="instagram"> </i>
                    <p class="m_3">Instagram</p>
                    <div class="clearfix"></div>
                </a></li>
            </ul>
        </div>
        <div class="col-md-6 f_grid3">
            <h3>Contact Info</h3>
            <ul class="list">
                <li><p>客服 : 123-465-789</p></li>
                <li><p>邮件 : <a href="mailto:info(at)fashionpress.com"> www.store.com</a></p></li>
            </ul>
            <ul class="list1">
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="footer_bottom">
    <div class="container">
        <div class="cssmenu">
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--弹框插件-->
<script src="/common/toastr/toastr.min.js"></script>
<!--个人JS引用-->
<script src="/common/macxi/js/common.js"></script>
<script src="/common/macxi/js/systemdata.js"></script>
<script src="/common/macxi/js/processingdata.js"></script>
<script src="/common/macxi/js/processingpage.js"></script>
<script>
    function aaa() {
        if (!$("#userName").val()) {
            toastrAlert("error", "用户名不得为空");
            return;
        }
        if (!$("#password").val()) {
            toastrAlert("error", "密码不得为空");
            return;
        }
        if ($("#password").val() != $("#passwordAgain").val()) {
            toastrAlert("error", "两次密码输入不一致");
            return;
        }
        var param = {
            name: $("#userName").val(),
            password: $("#password").val(),
            roleId: 2
        }
        var data = ajaxSendData("/user/save", param, false);
        if (data) {
            toastrAlert("success", "注册成功!请重新登录");
            setTimeout(login,2000);
        }
    }
    function login() {
        window.location.href = "http://localhost:8080/index";
        window.event.returnValue = false
    }
</script>
</body>
</html>		